body
  font-family 'Muli', Tahoma, sans-serif

#landing
  float left
  width 100%
  display grid
  grid-template-rows 50px calc(100vh - 100px) 50px

#header, #footer
  display flex
  align-items center
  box-sizing border-box
  padding 0 20px
  background #22252b
  color #fff

#header
  justify-content space-between

#footer
  justify-content space-around

#header a
  color #fff
  height 14px
  font-size 14px

#header p, #footer p
  color #fff
  height 14px
  font-size 14px

#container
  box-sizing border-box
  padding 20px
